---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import RnDVerseLogo from "../resources/RnDVerse_logo.png";
import addIcon from "../resources/addIcon.svg";
---

<Layout title="RnD-DAO | by RnDVerse">
  <main>
    <div class="title-container">
      <img class="logo" src={RnDVerseLogo} />
      <img src={addIcon} />
      <img class="logo" src={RnDVerseLogo} />
    </div>
    <p class="description">
      Welcome to the Landing Page for RnD-DAO
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        icon={RnDVerseLogo}
        href="https://docs.rndverse.com/"
        title="Documentation"
        body="Learn about RnDVerse."
      />
      <Card
        icon={RnDVerseLogo}
        href="https://docs.rndverse.com/"
        title="More Documentation"
        body="Learn about RnD-DAO"
      />
      <Card
        icon={RnDVerseLogo}
        href="https://docs.rndverse.com/"
        title=" Blog Post"
        body="Checkout our Blog post about RnD-DAO."
      />
      <Card
        icon={RnDVerseLogo}
        href="https://docs.rndverse.com/"
        title="Integrations"
        body="Supercharge your Research with RnD-DAO."
      />
    </ul>
  </main>
</Layout>

<style>
  .logo {
    width: 200px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 850px;
    margin: 0 auto;
    height: 100vh;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .description {
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #e5e7eb;
    width: 752px;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
</style>
